# When a pull request is send, only build and test
name: Build & test
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
      - ready_for_review
    branches: 
      - master
      - 'develop/**'
jobs:
  build:
    name: Build and Test
    runs-on: windows-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v4
      
      - name: Restore dotnet tools
        run: dotnet tool restore

      - name: Restore packages
        run: dotnet restore
        
      - name: Run the Cake script
        uses: cake-build/cake-action@v3
